@media only screen and (min-width: 576px){
    #main_con .cat {width:  95%;}
}
@media only screen and (min-width: 768px) {
    #main_con .cat {
        width: 48%;
    }
}


@media only screen and (min-width: 1200px) {
    #main_con .cat {
        width: 32%;
    }
}

@media only screen and (min-width: 1800px) {
    #main_con .cat {
        width: 24%;
    }
}
#main_con .cat{
    background-color: aliceblue;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 1.5px 0 #535353;
    -moz-box-shadow: 0 0 1.5px 0 #535353;
    box-shadow: 0 0 1.5px 0 #535353;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

#main_con .cat img,
#main_con .cat span{
    display: inline-block;
    text-align: center;
    margin-block: auto;
    width: auto;
}

#main_con .cat img{
    height: 30px;
    width: auto;
    margin-inline: 10pxs;
}
#main_con .cat span{
    font-size: large;
    padding-left: 20px;
    flex: 1;
    text-align: start;
}
#main_con .cat i{
    padding-inline: 11px;
}

#main_con .cat i.fa-pencil,
#main_con .cat i.fa-plus{
    padding-block: 11px;
}
#main_con .cat i.fa-trash{
    padding-block: 11px;
}
#main_con .cat ul{
    all: unset;
    list-style: none;
    display: block;
    border-top: 1px solid #53535344;
}





#main_con .cat-con i.fa-trash:hover ,
#main_con .cat-con i.fa-pencil:hover {
    border-inline: 1px solid #53535344;
}
#main_con .cat-con i.fa-plus:hover {
    background-color:#f7fbff;
    border-left: 1px solid #53535344;
}
#main_con .cat ul li{
    border-bottom: 1px solid #53535344;
}
#main_con .cat ul li:last-child{
    border-bottom: none;
}

#main_con .cat ul li:hover{
    background-color: #279eff;
    transition: .3s;
}

#main_con .cat ul li i.fa-trash:hover {
    border-left: 1px solid #53535391;
}
#main_con .cat ul li i.fa-pencil:hover {
    border-inline: 1px solid #53535391;
}