#banners_con {
    padding: 0;
    margin: 0;
}

#banners_con .col-12 {
    padding: .5rem;
    margin: .5rem .5rem .5rem 0;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}

#banners_con .col-12 img {
    width: 100%;
    height: auto;
}

.col-12 div {
    width: 100%;
    padding-top: .2rem;
}

#banners_con .col-12 div a {
    text-decoration: none;
}

#banners_con .col-12 div button.delete {
    float: right;
    border: none;
    background-color: transparent;
    color: brown;
}

#banners_con .col-12 div button.delete:hover {
    color: blue;
}