.carts{
    display: flex;
    margin-top: 5px;
    & > img{
        width: 20%;
        /* height: 150px; */
        aspect-ratio: 1 / 1;
        margin-bottom: auto;
        -webkit-box-shadow: 0 0 1px 1px #e9e9e9;
        -moz-box-shadow: 0 0 1px 1px #e9e9e9;
        box-shadow: 0 0 1px 1px #e9e9e9;
    }
    & .flex-1{
        margin-inline: 10px;
        display: flex;
        flex-direction: column;
        & .name{
            display: block;
            font-weight: 600;
        }
        & .details{
            margin-top: auto;
            & div{
                margin: auto;
            }
            & div * {
                padding: .5em;
            }
            & div span:first-of-type{
                padding-right: 0;
            }
            & .quantity i {
                background-color: #eee;
            }
            & .quantity span {
                min-width: 3em;
            }
        }

    }

}
.summary {
    & h6{
        color: #0783ff;
        font-weight: 600;
        font-size: 1.1em;
    }
    .sum-row{
        display: flex;
        & span:first-of-type{
            flex: 1;
            font-weight: 500;
            margin-left: 15px;
        }
        & span:last-of-type{
            margin-right: 10px;
        }
    }
    & hr{
        margin: 10px;
        margin-block: 5px;
        border-top: 1px solid #0783ff
    }
    & hr:first-of-type {
        margin-inline: -10px;
        margin-bottom: 15px;
    }
    & .btn-checkout{
        border: none;
        flex: 1;
        padding: .5em;
        margin-top: 10px;
        margin-inline: 10px;
        background-color: #74b9fd;
        color: white;
        font-weight: 700;
        border-radius: 2px;

        &:hover{
            background-color: #2893ff;
        }
    }
}
@media only screen and (max-width: 991px) {


}