/* banners */
#banner_con{
    max-width: 100% !important;
    margin: none;
    padding: none;
    margin-top: 0 !important;
}
#banner_home{
    /* border: 2px solid #0000003e;
    border-radius: .5em; */
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px 2px #dddddd;
    -moz-box-shadow: 0 0 5px 2px #dddddd;
    box-shadow: 0 0 5px 2px #dddddd;
}
#banner_home ol{
    list-style: none;
}
.carousel-indicators [data-bs-target]{
    height: .7em;
    width: .7em;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid #ffffff;
}
.carousel-indicators .active{
    opacity: 1;
    background-color: #00a7ff;
}

.carousel-control-next:hover,
.carousel-control-prev:hover{
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.carousel-control-next:hover{
    border-radius: 30vw 0 0 30vw;
}
.carousel-control-prev:hover {
    border-radius: 0 30vw 30vw 0;
}


.section{
    margin-left: 15px;
}
.section .container{
    overflow: hidden;
    padding-bottom: 1em;
}
.section .container .sec-header{
    text-align: start;
    padding-left: 15px;
    position: relative;
    color: #ee0000;
    font-size:small;
    font-weight:500;
}
.section .container .sec-header::before{
    content: '';
    background-color: #00a7ff;
    position: absolute;
    display: block;
    margin-left: -15px;
    transform: translate(0%,30%);
    width: 10px !important;
    height: 60% !important;
}
.section .container .sec-header2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.section .container .sec-header2 .left{
    font-size: large;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.737);
}
.section .container .sec-header2 .right{
   display: flex;
   gap: 10px;
   padding-right: 1px;
}
.section .container .sec-header2 .right span{
    background: #fff;
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.11);
        box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.11);
}
.section .container .sec-header2 .right span i{
    color: rgb(90, 88, 88);
}
#prod_con .d-flex{
    --item-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 20px;
}

#prod_con .item{
    flex: 0 0 auto;
    height: 300px;
    width: var(--item-width);
    background: #ffffff;
    border-radius: .3em;
    margin-bottom: 2em;
    
}