/* banners */
#banner_home{
    border: 2px solid #0000003e;
}
#banner_home ol{
    list-style: none;
}
.carousel-indicators [data-bs-target]{
    height: .7em;
    width: .7em;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid #ffffff;
}
.carousel-indicators .active{
    opacity: 1;
    background-color: #00a7ff;
}

.carousel-control-next:hover,
.carousel-control-prev:hover{
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.carousel-control-next:hover{
    border-radius: 30vw 0 0 30vw;
}
.carousel-control-prev:hover {
    border-radius: 0 30vw 30vw 0;
}
