<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="icon" type="image/x-icon" href="../images/favicon.svg"> -->
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/login.css" />
    <title>ArtGhor</title>
</head>

<body>
    <div id="nav_con">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/logo.svg" alt="">
                        <strong>ArtGhor</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto mb-2 mb-lg-0 me-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/cart">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/cart">Sign Up</a>
                            </li>
                        </ul>
                        <form class="d-flex justify-content-end ">
                            <input class="form-control " type="text" placeholder="Search">
                            <button class="btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="con-img">
        <img src="../images/svg/17213505_v911-a-13 copy.svg" alt="">
        <div class="con-abs">
            <div class="con-form">
                <div class="left">
                    <img src="../images/logo.svg" alt="">
                    <span>Tag line.</span>
                </div>
                <div class="right">
                    <form action="" autocomplete="new-password">
                        <h3>Log In</h3>
                        <label for="">Email or Phone or Username</label>
                        <input type="text" name="email" class="input" autocomplete="new-password" placeholder="Email" />
                        <label for="">Password</label>
                        <input type="password" name="password" placeholder="password" autocomplete="new-password"
                            class="input" />
                        <button class="login">Log In</button>
                        <span>
                            <a href="/forge-password">Forge Password</a>
                            <a href="/signup">Sign Up</a>
                        </span>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../script/jquery-3.7.1.min.js"></script>
<script src="../script/popper.min.js"></script>
<script src="../script/bootstrap.min.js"></script>
<script src="../script/login.js"></script>
<script>

</script>

</html>