<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- <link rel="icon" type="image/x-icon" href="../images/favicon.svg"> -->
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/product.css" />
    <title>ArtGhor</title>
</head>

<body>
    <!-- start navbar -->
    <div id="nav_con">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="../images/logo.svg" alt="">
                        <strong>ArtGhor</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto mb-2 mb-lg-0 me-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/cart"><i
                                        class="fa-solid fa-cart-shopping cart-global"> <small>0</small></i></a>
                            </li>
                            <li class="nav-item logged-out">
                                <a class="nav-link" aria-current="page" href="/login">Login</a>
                            </li>
                            <li class="nav-item logged-out">
                                <a class="nav-link " aria-current="page" href="/signup">Sign Up</a>
                            </li>
                            <!-- <li class="nav-item logged-in d-none">
                            <a class="nav-link logout" aria-current="page" href="/#">Logout</a>
                        </li> -->
                            <li class="nav-item dropdown logged-in d-none">
                                <a class="nav-link dropdown-toggle user" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown link
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="d-none logged-in"><a class="dropdown-item" href="/profile"><i
                                                class="fa-solid fa-id-card"></i> My
                                            Profile</a></li>
                                    <li class="d-none r-admin"><a class="dropdown-item" href="/dashboard"><i
                                                class="fa-solid fa-id-card"></i> Dashboard</a></li>
                                    <li class="d-none r-user"><a class="dropdown-item" href="/cart"><i
                                                class="fa-solid fa-cart-shopping"></i> My
                                            Cart</a></li>
                                    <li class="d-none r-user"><a class="dropdown-item" href="/order"><i
                                                class="fa-regular fa-credit-card"></i> My
                                            Orders</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="d-none logged-in"><a class="dropdown-item logout" href="/logout"><i
                                                class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                                </ul>
                            </li>

                        </ul>
                        <form class="d-flex justify-content-end ">
                            <input class="form-control " type="text" placeholder="Search">
                            <button class="btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <!-- end navbar -->
    <!-- start loader -->
    <div class="spinner_con">
        <div class="spinner"></div>
    </div>



    <!-- end loader -->
    <!-- toast start  -->
    <div class="toast-container position-static" style="position: fixed !important; top:100px; right:10px">

    </div>
    <!-- toast end  -->
    <div class="container">
        <ul id="breadcrumb">
            <li><a href="/">Home</a></li>
        </ul>
        <div class="d-flex prod">
            <div class="img">
                <div class="image-container">
                    <img src="/assets/uploades/product_image11725727053.png" class="active" alt="Product Image 1">
                    <img src="/assets/uploades/product_image11725727053.png" class="act normal" alt="Product Image 1">
                    <img src="/assets/uploades/product_image11725654341.jpg" class="normal" alt="Product Image 2">
                    <img src="/assets/uploades/product_image31725727053.png" class="normal" alt="Product Image 3">
                    <img src="/assets/uploades/product_image41725727053.png" class="normal" alt="Product Image 4">
                </div>
            </div>
            <div class="data">
                <span class="name">
                    fjhsdfhsjdhfjhj
                </span>
                <table>
                    <tr>
                        <td>Price</td>
                        <td class="price">৳ 555</td>
                    </tr>
                    <tr>
                        <td>Color Family</td>
                        <td class="color-family">
                            <select class="form-control" name="colorfamily">
                                <option value=""></option>
                            </select>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td class="quantity">
                            <i class="fa-solid fa-minus"></i>
                            <span>1</span>
                            <i class="fa-solid fa-plus"></i>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="buy">By Now</button>
                    <button class="cart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>






</body>
<script src="../script/jquery-3.7.1.min.js"></script>
<script src="../script/popper.min.js"></script>
<script src="../script/bootstrap.min.js"></script>
<script src="../script/script.js"></script>
<script src="../script/product.js"></script>
<script>
    // on_page_load('');
    $(".spinner_con").css("display", "none");
</script>

</html>